<div class="w-100 bg-danger vh-100">
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-4 bg-success" style="height: 100px"></div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-4 bg-danger" style="height: 100px"></div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-4 bg-danger" style="height: 100px"></div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-4 bg-warning" style="height: 100px"></div>
</div>
<header></header>
<nav></nav>


<p>mozilla<br/>
  331 E. Eyelyn Avenue<br/>
  94041<br/>
  USA<br/>
</p>
<p>you can use <abbr>CSS</abbr>(Cascading Style Sheets) to style your <abbr>HTML</abbr>(Hyper Text Markup
  Language).Using style sheets, you can keep your<abbr>CSS</abbr>presentation layer and <abbr>HTML</abbr>content layer
  seperate. This is called "seperation of concerns</p>
<hr>
<hr>
<button>ورود به صفحه</button>

<hr>
<hr>

<hr>

<form>
  <label for="name">first name</label>
  <input type="text" id="name" name="name" required minlength="1" maxlength="9"/>
  <label></label>
  <input type="text">
  <label></label>
  <input type="number" pattern="'^[0]{1}[0-9]{0,11}">
  <label>birthday</label>
  <input type="date" placeholder="enter your birthday">
  <input type="text" required minlength="25" maxlength="255">
  <label >skin color</label>
  <input type="color">
  <label for="password">password</label>
  <input type="number" value pattern="^[0]{1}[0-9]{0,10}$#2">
  <label>date</label>
  <select>
    <option value="first">میلادی</option>
    <option value="second">شمسی</option>
    <option value="third">قمری</option>

  </select>

</form>

<hr>
<h1>Registration form</h1>
<label for="userid">Username:</label><br>
<input type="text" id="userid" name="userid" pattern="'^[a-z0-9_-]{0,60}" name="user id" required minlength="5"
       maxlength="12" required><br>
<label for="password">Password:</label><br>
<input type="password" id="password" name="password" pattern="'^[a-z0-9_-]{0,60}" required minlength="7" maxlength="12"><br>
<br>
<input type="text" required minlength="25" maxlength="255"><br>

<label>Country:</label>
<br>
<select>

  <option value="first">Iran</option>
  <option value="second">United states</option>
  <option value="third">France</option>
  <option value="fourth">Germany</option>
  <option value="fifth">England</option>
  <option value="sixth">Russia</option>
  <option value="seventh">China</option>
  <option value="eighth">Saudi Arabia</option>
  <option value="ninth">India</option>
  <option value="tenth">Israel</option>

</select><br>

<label></label>
<br>
<input type="number" pattern=" ^[0]{1}[0-9]{0,10}"><br>
<label>Email address:</label><br>
<input type="text" value pattern="'^[a-z0-9_-]{0,60}$'"><br>

<label for>Sex:</label>
<br>
<label for="sex1">male</label>
<input type="checkbox" id="sex1" name="sex1" value="Male">
<label for="sex2">female</label>
<input type="checkbox" id="sex2" name="sex2" value="Female"><br>

<label>Language</label>
<input name="vehicle1" id="vehicle1" type="checkbox" value="English">
<label for="vehicle1"> English</label>
<input type="checkbox" id="vehicle2" name="vehicle2" value="Non English"><br>
<label>About</label>
<br>
<textarea></textarea><br>

<input type="button" id="submit" value="submit">

<hr>
<h2>form registration 2</h2>

<label>Full name:</label>
<br>
<input type="text" place holder="First name & Last name" pattern="'^[a-zA-Z\\s]+$';" required><br>

<label>Email address:</label>
<br>
<input type="email" place holder="Enter your Email address" pattern="'^[a-z0-9_-]{0,60}$';" required><br>

<label>Select Tour Package:</label>
<br>
<select>

  <option value="first">Berlin & Paris [7 days]</option>
  <option value="second">Barcelona & Roma [8 days]</option>
  <option value="third">Vienna & Geneva [7 days]</option>
  <option value="fourth">Madrid & Lisbon [8 days]</option>
  <option value="fifth">Amsterdam & London [7 days]</option>
  <option value="sixth">Saint Petersburg & Moscow [8 days]</option>
  <option value="seventh">Switzerland & Austria & Germany [12 days]</option>


</select><br>

<label for="Arrival date">Arrival date:</label>
<br>
<input type="date" id="Arrival date" name="Arrival date" placeholder="mm/dd/yy"><br>

<label>Number of persons:</label>
<br>
<input type="number" pattern=" '^[0-9]+$';"><br>

<label>What would you want to avail?</label>
<br>
<label for="service1">Boarding</label>
<input type="checkbox" id="service1" name="service 1" value="Boarding"><br>
<label for="service2">Food</label>
<input type="checkbox" id="service2" name="service 2" value="Food"><br>
<label for="service3">Sight seeing</label>
<input type="checkbox" id="service3" name="service 3" value="Sight seeing"><br>

<label>Discount coupon code</label>
<br>
<input type="number" placeholder="Unknown type" pattern="'^[0]{1}[0-9]{0,10}$'"><br>

<h2>Terms & conditions</h2>
<label>I agree</label>
<input type="checkbox" id="option 1" name="option 1" value="I agree"><br>
<label>I disagree</label>
<input type="checkbox" id="option 2" name="option 2" value="I disagree"><br>

<input type="button" value="complete reservation">

<hr>
<input type="file" accept="image/jpeg,image/png">
<input type="file" accept="application/pdf">


<section>
  <div>
    <h1>تحول داده‌ها به بینش تجاری</h1>
    <p>ما برای شناسایی فرصت‌های جدید، به دنبال تحول داده‌ها هستیم تا هوشمندی کسب‌وکار را به یک مزیت رقابتی پایدار تبدیل
      کنیم
    </p>
    <br>
  </div>
  <div>
  </div>
  <h2>فرایندهای تکنولوژی محور برای تحلیل داده‌ها</h2>
  <p>ما در تیم هوش تجاری، از ابزارها، برنامه‌های کاربردی و روش‌هایی استفاده می‌کنیم که به کمک آن‌ها می‌توانیم داده‌ها را
    از سامانه‌های داخلی و منابع خارجی گردآوری کرده و برای تجزیه‌وتحلیل آماده کنیم. در این تیم نتایج تحلیلی و شاخص‌های
    کلیدی کارایی را با تولید گزارش‌ها و داشبوردها در اختیار مدیران و کارشناسان عملیاتی قرار می‌دهیم.</p>
  <div>
    <h3>registration form</h3>
    <label>name</label><br>
    <input type="text" placeholder="First name & Last name" pattern="'^[a-zA-Z\\s]+$';" required><br>
    <input type="file" accept="image/jpeg,image/png"><br>

    <br>
    <input type="text" required minlength="15" maxlength="200"><br>
    <label>birthday</label><br>
    <input type="date"><br>
    <label>About</label><br>
    <textarea></textarea>

  </div>
</section>
<hr>

<table>
  <thead>
  <tr>
    <th colspan="2">details table</th>
    <th>phone number</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>full name</td>
    <td>student number</td>
  </tr>
  </tbody>

</table>
<hr>


<table>
  <thead>
  <tr>
    <th colspan="6">Appointments</th>
  </tr>

  <tr>
    <th>patient</th>
    <th>status</th>
    <th>appointment</th>
    <th>phone</th>
    <th>doctor</th>
    <th>actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Kiran Acharya</td>
    <td>Consult</td>
    <td>6:00 PM</td>
    <td>+91 9876543215</td>
    <td>Dr. Anath</td>
    <td>:</td>
  </tr>
  <tr>
    <td>Sandeep Hedge</td>
    <td>Consult</td>
    <td>6:15 PM</td>
    <td>+91 9876543216</td>
    <td>Dr.Anath</td>
    <td>:</td>
  </tr>
  <tr>
    <td>John Doe</td>
    <td>Consult</td>
    <td>6:30 PM</td>
    <td>+91 9876543217</td>
    <td>Dr.Anath</td>
    <td>:</td>
  </tr>
  <tr>
    <td>Vishwanath</td>
    <td>Consult</td>
    <td>6:45 PM</td>
    <td>+91 9876543218</td>
    <td>Dr.Anath</td>
    <td>:</td>
  </tr>
  <tr>
    <td>Kiran Acharya</td>
    <td>Revisit</td>
    <td>7:00 PM</td>
    <td>+91 9876543215</td>
    <td>Dr.Anath</td>
    <td>:</td>
  </tr>
  </tbody>
</table>
<hr>

<div class="div">
  <h1>هوش مصنوعی و تحول در دیجی‌کالا</h1>
  <p>ما به دنبال این هستیم که با به کارگیری هوش مصنوعی، تجربه کاربری را متحول و کارها را خودکار کنیم، فرایندهای کسب‌وکار
    را بهینه و فروش محصولات را بیشتر کنیم. ما به عنوان تیم هوش مصنوعی مانند یک فروشنده متخصص و حرفه‌ای از لحظه‌ای که
    کاربر وارد سایت دیجی‌کالا می‌شود تا زمانی که کالای خریداری شده به دستش می‌رسد، در بهبود و تسریع کارها نقش ایفا
    می‌کنیم.</p>
  <h2>اشتیاق در تحقق آرمان‌ها</h2>
  <p>برای خلق محصولاتی که آینده دیجی‌کالا را رقم می‌زنند، با تخصص‌های مختلف در حوزه‌های دانشمند داده،‌ مهندس داده،
    مدیریت برنامه و مدیریت محصول، کنار هم جمع شده‌ایم و با انگیزه و مشتاقانه برای تحقق آرمان‌هایمان قدم برمی‌داریم.</p>

</div>
<hr>

<div class="div1">
  <h2>قدم پنجم؛ مستندسازی</h2>
  <p>زمانی می‌توان گفت یک دیزاین سیستم به پختگی کامل رسیده که همه کاربران آن به یک آگاهی مشترک و کامل از اجزای
    تشکیل‌دهنده
    سیستم، شیوه‌های درست استفاده، باید‌ها و نبایدهای عملکرد هر یک از اجزا رسیده باشند. به همین دلیل مستندسازی دیزاین
    سیستم
    چه در زمینه دیزاین و چه در زمینه مهندسی اهمیت بالایی دارد. دیزاین سیستم کیوب نیز از این قاعده مستثنی نیست! در حال
    حاضر
    مراحل مستندسازی آن در دو مرحله انتشار برای طراحان گروه دیجی‌کالا و در ادامه، انتشار برای عموم و توسعه‌دهندگان در حال
    انجام است.</p>

</div>

<hr>
<div class="div2">
  <h2>توسعه سریع و پایدار محصولات نرم‌افزاری</h2>
  <p>ما در تیم مهندسی، نیازمندی‌های کاربران و ذی‌نفعان که توسط تیم محصول تحلیل می‌شود را در دیجی‌کالا پیاده‌سازی و اجرا
    می‌کنیم. ایجاد قابلیت گسترش‌پذیری (برای تحمل ترافیک‌های بزرگ)، توسعه سریع و پایدار و طراحی معماری نرم‌افزار با هدف
    بهبود فرایندهای توسعه محصول از مهم‌ترین فعالیت‌های ما در تیم مهندسی است.</p>


</div>
<hr>

<div class="box">
  <p>زمانی می‌توان گفت یک دیزاین سیستم به پختگی کامل رسیده که همه کاربران آن به یک آگاهی مشترک و کامل از اجزای
    تشکیل‌دهنده
    سیستم، شیوه‌های درست استفاده، باید‌ها و نبایدهای عملکرد هر یک از اجزا رسیده باشند. به همین دلیل مستندسازی دیزاین
    سیستم
    چه در زمینه دیزاین و چه در زمینه مهندسی اهمیت بالایی دارد. دیزاین سیستم کیوب نیز از این قاعده مستثنی نیست! در حال
    حاضر
    مراحل مستندسازی آن در دو مرحله انتشار برای طراحان گروه دیجی‌کالا و در ادامه، انتشار برای عموم و توسعه‌دهندگان در حال
    انجام است.</p>

</div>

<div class="image">

</div>

<div class="image2">

</div>

<div class="image3">

</div>

<div class="image4">


</div>


<div class="row m-0">
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6 bg-success" style="height: 100px"></div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6 bg-danger" style="height: 100px"></div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6 bg-warning" style="height: 100px"></div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6 bg-success" style="height: 100px"></div>

  <img class="logo" src="digikala logo.jpg"/><input class="search" type="search" placeholder="جستجو">
  <img class="search1" src="assets/search_FILL0_wght400_GRAD0_opsz48.png"/>
</div>

<div class="head1">
  <input class="Register" type="text" placeholder="ورود/ثبت نام"/>
  <img class="shop" src="assets/shopping_cart_FILL0_wght400_GRAD0_opsz48.png "/>
</div>

<div class="menu2">

  <img class="img4" src="assets/menu_FILL0_wght500_GRAD0_opsz48.png">
  <label>دسته بندی کالا</label>

  <img class="img3" src="assets/shopping_basket_FILL0_wght400_GRAD0_opsz48.png">
  <label>سوپر مارکت</label>

  <img class="img2" src="assets/credit card999.png">
  <label>کارت هدیه</label>

  <img class="img1" src="assets/local_fire_department_FILL0_wght400_GRAD0_opsz48.png">
  <label>پرفروش ترین ها</label>

  <img class="img" src="assets/percent_FILL0_wght400_GRAD0_opsz48.png">
  <label>تخفیف دار ها</label>
</div>

<div class="map">
  <img class="img6" src="assets/pin_drop_FILL0_wght400_GRAD0_opsz48.png">
  <label>
    <input type="text" placeholder="آدرس خود را وارد کنید"/>
  </label>
</div>
<div class="matn">
  <p>دیجی کالا/موبایل/گوشی موبایل </p>
</div>


<div class="row m-0">

  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 bg-success" style="height: 450px " Style="width: 90px">
    <div style="width: 100%;" class="mobile1">
      <img class="mobile1" src="assets/iPHONE13pro1.webp">
    </div>
    <div class="post">
      <img class="free post1" src="assets/free post.png">
      <p>ارسال رایگان </p>
    </div>
    <p>گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
    <p class="Price"> 45,000,000 تومان</p>
  </div>


  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 bg-danger" style="height: 450px" Style="width: 90px">
    <div style="width: 100%" class="mobile2">
      <img class="mobile2" src="assets/13pro maxA123.webp">
    </div>
    <div class="post">
      <img class="free post2" src="assets/free post.png">
      <p>ارسال رایگان </p>
    </div>
    <p>گوشی موبایل اپل مدل iPhone 13 Pro تک سیم کارت ظرفیت یک ترابایت و رم 6 گیگابایت - اروپا نات اکتیو</p>
    <p class="Price"> 87,365,000 تومان</p>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 bg-warning" style="height: 450px" Style="width: 90px">
    <div style="width: 100%" class="mobile3">
      <img class="mobile3" src="assets/iPhOnE13 CH.webp">
    </div>
    <div class="post">
      <img class="free post3" src="assets/free post.png">
      <p>ارسال رایگان </p>
    </div>
    <p>گوشی موبایل اپل مدل iPhone 13 Pro تک سیم کارت ظرفیت یک ترابایت و رم 6 گیگابایت - اروپا نات اکتیو</p>
    <p class="Price"> 86,000,000 تومان</p>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 bg-success" style="height: 450px" Style="width: 90px">
    <div style="width: 100%" class="mobile4">
      <img class="mobile4" src="assets/IphONE13 mini.webp">
    </div>
    <div class="post">
      <img class="free post4" src="assets/free post.png">
      <p>ارسال رایگان </p>
    </div>
    <p>گوشی موبایل اپل مدل iPhone 13 Pro Max تک سیم‌ کارت ظرفیت یک ترابایت و رم 6 گیگابایت - اروپا نات اکتیو</p>
    <p class="Price"> 82,000,000 تومان</p>
  </div>
</div>

<hr>
<hr>









<div class="row m-0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <div class="advertise head">
      <img class="advertisement head" src="advertise.webp">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 bg-success"></div>
    <div style="width:100%">
      <img class="mobile details" src="assets/iPhOnE13 CH.webp">
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><div class="تعریف">
        <p>اپل/گوشی موبایل</p>
        <p>گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت به همراه شارژر 20 وات اپل - نات اکتیو</p>
        <p class="details123">Apple iPhone 13 CH Dual SIM 128GB And 4GB RAM Mobile Phone With 20w apple Charger - Not Activate</p>
      </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="userspoint">
            <div class="userspoint">
              <img class="userspoint" src="assets/125-1250590_5-yellow-star-png-yellow-star-icon-png">
              <p>4.4</p>
              <div class="coments">

              </div>
              <br>
            </div>


            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8"></div>
          </div>
        </div>
      </div>

</div>
  </div>
</div>


<div>
<div>
  <p class="text-danger"> نام: {{user.name}}</p>
  <p><span>نام:> /span><span>{{user.name}}</span></p>
  <p><span>نام خانوادگی:> /span><span>{{user.lastName}}</span></p>
  <p><span>شماره:> /span><span>{{user.phoneNumber}}</span></p>
  <p><span>ایمیل:> /span><span>{{user.email.name}}</span></p>

    <table>
      <thead>
      <tr>
        <th colspan="2"></th>
      </tr>

      <tr>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>شماره تلفن</th>
        <th>ایمیل</th>
      </tr>
      <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.email}}</td>
      </tr>
      </thead>
    </table>
  </div>

  <div class="buttton123">
<button class="btn btn-primary">click me</button>
    button (click)="sum(add:150)"
    <p>{{test120}}</p>
<!--    <button (click)="change()"-->
  </div>

<div>
 <div class="all stars">
   <img src="assets/star_FILL0_wght400_GRAD0_opsz24.svg">
   <img src="assets/star_FILL0_wght400_GRAD0_opsz24.svg">
   <img src="assets/star_FILL0_wght400_GRAD0_opsz24.svg">
   <img src="assets/star_FILL0_wght400_GRAD0_opsz24.svg">
   <img src="assets/star_FILL0_wght400_GRAD0_opsz24.svg">
 </div>
</div>


  <div class="apointments123">

    <table>
      <thead>
      <tr>
        <th colspan="6"></th>
      </tr>

      <tr>
        <th>patient</th>
        <th>status</th>
        <th>appointment</th>
        <th>phone</th>
        <th>doctor</th>
        <th>actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Kiran Acharya</td>
        <td>Consult</td>
        <td>6:00 PM</td>
        <td>+91 9876543215</td>
        <td>Dr. Anath</td>
        <td>:</td>
      </tr>
      <tr>
        <td>Sandeep Hedge</td>
        <td>Consult</td>
        <td>6:15 PM</td>
        <td>+91 9876543216</td>
        <td>Dr.Anath</td>
        <td>:</td>
      </tr>
      <tr>
      </tbody>
    </table>
  </div>


</div>
